---
interface Props{
    proyecto: string
    descripcion:string
    enlace:any
    imagen:string

}

const {proyecto,descripcion ,enlace, imagen} = Astro.props



---

<a href={enlace}
    target="_blank" 
    rel="noopener noreferrer"
    style={`background-image: url ${imagen};`}
    class= "bg-cover bg-center justify-center rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:border-gray-500   transition flex flex-col p-4" >
    
        <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
            {descripcion}
        </h2>
    
        
    </header>

</a>