---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-row justify-center m-10">
		<div class="container ">
			<div class="profile w-full h-full bg-red-300">Profile</div>
			<div class="AboutMe w-full h-full bg-blue-700">About me</div>
			<div class="Proyects w-full h-full bg-orange-700">Proyects</div>
			<div class="Contact w-full h-full bg-amber-500">Contact</div>
			<div class="Blog w-full h-full bg-fuchsia-400">Blog</div>
			<div class="Now w-full h-full bg-teal-400">Now</div>
			<div class="Cities w-full h-full bg-indigo-400">Cities</div>
			<div class="createdby w-full h-full bg-lime-500">createdby</div>
		  </div>
	</main>
</Layout>

<style>
	.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.4fr 1fr 0.3fr 0.3fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "profile profile profile AboutMe"
    "Contact Proyects Proyects AboutMe"
    "Contact Blog Cities Now"
    "Contact Blog createdby Now";
}

.profile { 
	grid-area: profile; 
	
}

.AboutMe { grid-area: AboutMe; }

.Proyects { grid-area: Proyects; }

.Contact { grid-area: Contact; }

.Blog { grid-area: Blog; }

.Now { grid-area: Now; }

.Cities { grid-area: Cities; }

.createdby { grid-area: createdby; }

</style>
