---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Profile from '../components/Profile.astro';
import AboutMe from '../components/AboutMe.astro';
import Proyects from '../components/Proyects.astro';

---

<Layout 
	title="Daniel Cardenas - Frontend Developer"
	description="Software developer with focus on the user experience animations and micro interactions"
>
	<main class="flex flex-row justify-center m-10">
		<div class={`container
			
			
			
			`}>
			<main class="profile animate-fade-up animate-duration-1000 animate-delay-[800ms] " >
				<Card>
					<Profile/>
				</Card>
			</main>
			<aside class="AboutMe w-full h-full animate-fade-up animate-duration-1000 animate-delay-[900ms]  ">
				<Card>
					<AboutMe/>
				</Card>
			</aside>
			<article class="Proyects w-full h-full animate-fade-up animate-duration-1000 animate-delay-[1200ms] flex justify-center ">
				<Card>
					<Proyects/>
				</Card>
				

				
			</article>
			<aside class="Contact w-full h-full animate-fade-up animate-duration-1000 animate-delay-[1100ms] ">
				<Card/>
			</aside>
			<main class="Blog w-full h-full animate-fade-up animate-duration-1000 animate-delay-[1200ms]">
				<Card/>
			</main>
			<section class="Now w-full h-full animate-fade-up animate-duration-1000 animate-delay-[1150ms] ">
				<Card/>
			</section>
			<footer class="createdby w-full h-full animate-fade-up animate-duration-1000 animate-delay-[1300ms] ">
				<Card/>
				</footer>
			<section class="Cities animate-fade-up animate-duration-1000 animate-delay-[1250ms] ">
				<Card/>
			</section>
		  </div>
	</main>
</Layout>

<style>
	.container {  
		
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 2.4fr 1fr 0.3fr 0.3fr;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 20px 20px;

		grid-auto-flow: row dense;
		grid-template-areas:
			"profile profile profile AboutMe"
			"Contact Proyects Proyects AboutMe"
			"Contact Blog Cities Now"
			"Contact Blog createdby Now";
}

.profile { 
	grid-area: profile; 
	
}

.AboutMe { grid-area: AboutMe; }

.Proyects { grid-area: Proyects; }

.Contact { grid-area: Contact; }

.Blog { grid-area: Blog; }

.Now { grid-area: Now; }

.Cities { grid-area: Cities; }

.createdby { grid-area: createdby; }

</style>
