---
import CardProyects from './CardProyects.astro';
import Layout from '../layouts/Layout.astro';
import information from '../lib/informacionJson.json'
import { LINKS } from '../lib/constanst'


---
<Layout 
    title="Proyects - Daniel Cardenas "
	description="All proyects">
    <main class="w-full h-full relative flex justify-center flex-col items-center">
        
       
        <div class="grid p-24 gap-8 sm:grid-cols-2 lg:grid-cols-3">
            
            {information.map((info)=>(
                info.portafolio.map((port)=>(
                <CardProyects
                  proyecto={port.proyecto}
                  descripcion ={port.descripcion}
                  enlace={port.enlace}
                  imagen={port.imagen}
                />
                ))
            ))}
          </div>
    </main>

</Layout>
