---
import Layout from '../layouts/Layout.astro';
---
<Layout 
    title="Daniel Cardenas - Frontend Developer"
	description="Software developer with focus on the user experience animations and micro interactions">
    <main>
        
    <h1 class="text-3xl text-white">
        En construccion
    </h1>

    </main>

</Layout>
