---
import ProyectosCardMenu from '../components/ProyectosCardMenu.astro';
import Layout from '../layouts/Layout.astro';

import { LINKS } from '../lib/constanst'
import Card from '../components/Card.astro';
import HeaderCardProyects from '../components/HeaderCardProyects.astro';


---
<Layout 
    title="Proyects - Daniel Cardenas "
	description="All proyects">
    <main class="cont">
        <Card class="h-96">
            <HeaderCardProyects/>
        </Card>
        <ProyectosCardMenu/>
        
        

       
    </main>

    

</Layout>

<style>
    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 80%;
        height: 80vh;
       
    }
</style>