---
import information from '../lib/informacionJson.json'
---

<aside class="max-w-xs overflow-hidden overflow-ellipsis ">
    <h1 class="text-white font-ligth text-xl p-2">About Me</h1>
    {information.map((info) => (
        <p class="text-white text-sm font-light p-2 line-clamp-7 leading-loose"> 
            {info.aboutMe?.descipcion1}        
        </p>
        <p class="text-white text-sm font-light p-2">My primary tools of choice includes:</p>
        <ul class="text-white text-sm font-light P-2 m-3 list-disc list-inside">
            <li>JavaScript</li>
            <li>React</li>
            <li>Astro</li>
            <li>Nodejs</li>
        </ul>
        <p class="text-white text-sm font-light p-2">My goal is to find the right solution for each project.</p>
        <p class="text-white text-sm font-light p-2">I'm always looking for opportunities to work on challenging projects.</p>
        <p class="text-white text-sm font-light p-2">I'm currently available for freelance work.</p>
        <p class="text-white text-sm font-light p-2">If you have a project in mind, please do not hesitate to contact me.</p>



        ))}
</aside>