---
interface props{
    href?: string;
}
const {href} = Astro.props
---

<li>
    <a href={href} class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-center transform translate-x-0 translate-y-0 translate-z-0 text-1rem border-2 border-blue-500 rounded-md p-4">
       <slot/>
    </a>

</li>