<div class="flex items-center h-full">
    <p class="text-white text-sm font-light p-2">
        © 2024 · Crafted with ♥️ using <a href="https://astro.build/" target="_blank" class="text-pink-500">Astro</a> by Daniel.
        </p>
</div>
