<li class="link-card">
	<h2 class="text-white">
        Welcome
    </h2>
    <p>
        Hi, I'm a web developer from the UK. I'm currently working at <a href="http://www.3squared.com">3Squared</a> in Sheffield.

    </p>
    <div class="icons ">
        <button >Git Hub</button>
        <button>Twitter</button>
        <button>LinkedIn</button>


    </div>
</li>